/* main */

html,
body {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.App-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30vh;
  background-color: rgb(74 70 70 / 81%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Greeting-video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#Greeting {
  font-size: 20px;
  color: white;
}

#Search {
  margin: 3%;
}

/*forecast-display*/

.City-name {
  font-size: 20px;
  color: white;
}

.Color-bold {
  color: #c2a640;
  font-weight: bold;
}

.Forecast-card {
  background-color: white;
  color: black;
  border-top: 1px solid;
  display: flex;
  font-size: 14px;
  width: 100%;
}

#Forecast-video {
  height: 30vh;
  object-fit: cover;
  width: 100%;
}

.Forecast-card * {
  padding: 1.25%;
  width: 20%;
}

.Forecast-card img {
  padding: 1.25%;
  width: 2.5em;
}

.Forecast-card-container {
  background-color: white;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  top: 30vh;
}

/* tablet */

@media only screen and (max-width: 950px) {
  .City-name {
    font-size: 30px;
    color: white;
  }

}

/* mobile */

@media only screen and (max-width: 450px) {
  .City-name {
    font-size: 20px;
    color: white;
  }

  .Forecast-card {
    font-size: 12px;
  }

  #Greeting {
    font-size: 16px;
    text-align: center;
    margin: 10px;
  }
}

/* narrow-mobile */

@media only screen and (max-width: 300px) {
  .City-name {
    font-size: 16px;
    color: white;
  }

  .Forecast-card img {
    display: none;
  }

  #Greeting {
    font-size: 12px;
    text-align: center;
    margin: 10px;
  }

  .Forecast-card {
    font-size: 10px;
    display: flex;
    justify-content: space-around;
  }
}