.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #357a71;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.City-name {
  font-family: 'Pacifico', cursive;
}

.Color-bold {
  color: #C2A640;
  font-weight: bold;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


.Weather-card {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8%;
  box-shadow: 0 0 20px #000000;
}