.App {
  text-align: center;
  min-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #357a71;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.City-name {
  font-family: "Pacifico", cursive;
}

.Color-bold {
  color: #c2a640;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* .Weather-card {
  background-color: white;
  color: black;
  width: 100%;
  padding-left: 10%;
} */

.Forecast-card {
  background-color: white;
  color: black;
  width: 100%;
  display: flex;
  align-items: baseline;
  border-top: 1px solid;
}

.Forecast-card > span {
  font-size: 2vh;
  margin-right: 100px;
  padding-left: 4em;
  padding-bottom: 1em;
}

.Forecast-card > img {
  display: flex;
  align-items: baseline;
}

.Forecast-card > h3 {
  color: #c2a640;
}

.Forecast-card-container {
  background-color: white;
  display: flex;
  width: 100%;
  text-align: left;
  flex-flow: column;
}

#greeting {
  font-family: "Oswald", sans-serif;
  font-size: 5vmin;
}
